body{
    padding:0;
    margin:0;
    color:brown;
    background-color:azure;
}

/*Caracterizar botões com suas cores*/
.botaoazul{
    background-color:blue;
    color:white;
    border:1px solid white;
}
.botaovermelho{
    background-color:red;
    color:white;
    border:1px solid white;
}
.botaorosa{
    background-color:pink;
    color:white;
    border:1px solid white;
}
footer{
    width: 100%;
	background-color: #4e545c;
	padding: 16px;
	color: #e5e8e8;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}